<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.mewokmeong">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/s_key"
        android:label="S-Key"
        android:roundIcon="@drawable/s_key"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SetanActivity"></activity>
        <activity
            android:name=".NumbersActivity"
            android:label="Numbers" />
        <activity
            android:name=".PhrasesActivity"
            android:label="Phrases" />
        <activity
            android:name=".FamilyActivity"
            android:label="Family" />
        <activity
            android:name=".ColorsActivity"
            android:label="Colors" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>